//primay color
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

//secundary colors
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

//fonts
$fontFamily: "Public Sans", sans-serif;

/* Sizes */

$s-3: 4px;
$s-2: 8px;
$s-1: 14px;
$s0: 18px;
$s1: 24px;
$s2: 32px;
$s3: 40px;
$s4: 64px;

/* Radius */

// $radius-1: 6px;
// $radius0: 10px;
// $radius1: 14px;


html {
  background-color: $veryLightGray;
  font-family: $fontFamily;
  font-size: $s0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero {
  .hero-image {
    width: 50%;
  }
  .background-img {
    background: url("../images/bg-intro-mobile.svg")  center bottom no-repeat;
    width: 100%;
    height: 300px;
   
  }

}

